*.iml
.gradle
.kotlin/
/local.properties
/.idea/caches
/.idea/
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
keystore.properties
*.jks
*.keystore
*.apk
*.aab
/app/release
/app/build
current_screen*.png
ps_screen*.png
window*.xml
